node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/.vercel
/.wrangler

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.dev.vars

# IDE
/.idea

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Don't ignore functions
!.svelte-kit/cloudflare