{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "endOfLine": "lf"
}
